{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="flex justify-center items-center h-screen">
    <div class="w-full max-w-4xl flex">
        <div class="w-1/3 flex justify-center items-center">
            <img src="../../assets/img/sortirImg.png" alt="Dummy image" class="w-full rounded">
        </div>
        <div class="w-2/3 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-auto">
            <h1 class="text-center mb-6">
                {{ app.user.userIdentifier }}</h1>
            <div class="text-center mb-6">
                <p class="text-lg font-bold">My profile</p>
            </div>
            <div class="mb-4">
                <p class="font-bold">Email:</p>
                <p>{{ app.user.email }}</p>
            </div>
            <div class="mb-4">
                <p class="font-bold">Name:</p>
                <p>{{ app.user.name }}</p>
            </div>
            <div class="mb-4">
                <p class="font-bold">Lastname:</p>
                <p>{{ app.user.lastname }}</p>
            </div>
            <div class="mb-4">
                <p class="font-bold">Phone number:</p>
                <p>{{ app.user.phone }}</p>
            </div>
            <div class="mb-4">
                <p class="font-bold">Pseudo:</p>
                <p>{{ app.user.pseudo }}</p>
            </div>
            {#<div class="mb-4">
                <p class="font-bold">Site:</p>
                <p>{{ app.user.site }}</p>
            </div>#}
            <div class="flex justify-center items-center mt-6">
                <a href="{{ path('app_home') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Retour
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}