{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	<div class="flex justify-center items-center h-screen">
		<div class="w-full max-w-4xl flex">
			<div class="w-1/3 flex justify-center items-center">
				{% if app.user.avatar %}
					<img src="{{ asset('/img/avatar/' ~ app.user.avatar) }}" alt="{{app.user.avatar}}" class="w-full rounded">
					
				{% else %}
					<img src="{{ asset('/img/sortirImg.png') }}" alt="Dummy image" class="w-full rounded">

				{% endif %}
			</div>
			<div class="w-2/3 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-auto">
				<h1 class="text-center mb-6">
					{{ app.user.userIdentifier }}</h1>
				<div class="text-center mb-6">
					<p class="text-lg font-bold">Mon profil</p>
				</div>
				<div class="mb-4">
					<p class="font-bold">Email:</p>
					<p>{{ app.user.email }}</p>
				</div>
				<div class="mb-4">
					<p class="font-bold">Name:</p>
					<p>{{ app.user.name }}</p>
				</div>
				<div class="mb-4">
					<p class="font-bold">Lastname:</p>
					<p>{{ app.user.lastname }}</p>
				</div>
				<div class="mb-4">
					<p class="font-bold">Phone number:</p>
					<p>{{ app.user.phone }}</p>
				</div>
				<div class="mb-4">
					<p class="font-bold">Pseudo:</p>
					<p>{{ app.user.pseudo }}</p>
				</div>
				<div class="mb-4">
					<p class="font-bold">Site:</p>
					<p>{{ app.user.site.name }}</p>
				</div>
				<div class="flex items-center justify-between text-white font-bold">
					<button class="bg-blue-500 hover:bg-blue-700  py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
						<a href="{{ path('profile_edit') }}">Editer profil</a>

					</button>
					<button class="bg-red-500 hover:bg-red-700 py-2 px-4 rounded focus:outline-none focus:shadow-outline">
						<a href="{{ path('events_index') }}">retour</a>
					</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
