{% extends 'base.html.twig' %}
{% block title %}
    Détail de {{event.name}}
{% endblock %}
{% block body %}
	<section class="mt-10">
		<h1 class="text-2xl font-bold mb-8 text-center">{{event.name}}</h1>
		<div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 gap-y-2">
			<div class="flex justify-between ">
				<p class="font-bold">Nom de la sortie :</p>
				<p>{{event.name}}</p>
			</div>
			<div class="lg:order-none flex justify-between">
				<p class="font-bold">Date et heure <span class="hidden lg:inline">de la sortie </span>:</p>
				<p>{{ event.startDateTime|date("d/m/Y - h\\hm") }}</p>
			</div>
			<div class="flex justify-between">
				<p class="font-bold">Ville organisatrice :</p>
				<p>{{ event.site.name }}</p>
			</div>
			<div class="flex justify-between">
				<p class="font-bold">Lieu :</p>
				<p>{{ event.place.city.name }}</p>
			</div>
			<div class="flex justify-between">
				<p class="font-bold">Rue :</p>
				<p>{{ event.place.street }}</p>
			</div>
			<div class="flex justify-between">
				<p class="font-bold">Code postal :</p>
				<p>{{ event.place.city.postalCode }}</p>
			</div>
			<div class="flex justify-between">
				<p class="font-bold">Latitude :</p>
				<p>{{ event.place.latitude }}</p>
			</div>
			<div class="flex justify-between">
				<p class="font-bold">Longitude :</p>
				<p>{{ event.place.longitude }}</p>
			</div>
			<div class="flex justify-between">
				<p class="font-bold hidden lg:block">Date limite d'inscription :</p>
				<p class="font-bold lg:hidden">Clôture :</p>
				<p>{{ event.subDateLimit|date("d/m/Y")}}</p>
			</div>
			<div class="flex justify-between">
				<p class="font-bold">Nombre de places :</p>
				<p>{{ event.nbMaxSub }}</p>
			</div>
			<div class="flex justify-between">
				<p class="font-bold">Durée :</p>
				<p>{{ event.duration|date("h\\hm") }}</p>
			</div>
			<div class="order-last lg:order-none flex justify-between">
				<p class="font-bold">Description et infos :</p>
				<p class="w-2/3">{{ event.eventInfo }}</p>
			</div>
		</div>
		<h2 class="text-xl font-bold my-4">Liste des participants inscrits :</h2>
		<div class="overflow-y-auto" style="height: 12.5rem; max-width: 29.375rem">
			<table class="table-auto border-collapse md:table bg-white rounded shadow border border-gray-400">
				<thead class="sticky rounded top-0 bg-gray-400">
					<tr>
						<th class="px-4 py-2 border border-gray-400">Pseudo</th>
						<th class="px-4 py-2 border border-gray-400">Nom</th>
						<th class="px-4 py-2 border border-gray-400">Lien profil</th>
					</tr>
				</thead>
				<tbody>
					{% for member in event.members %}
						<tr>
							<td class="px-4 py-2 border border-gray-400">{{ member.pseudo }}</td>
							<td class="px-4 py-2 border border-gray-400">{{ member.name }}
								{{ member.lastname }}</td>
							<td class="px-4 py-2 border border-gray-400">
								<a href="{{ path('profile_show', {'id': member.id}) }}">Voir le profil</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if app.user == event.host or is_granted("ROLE_ADMIN") %}
				<a href="{{path('event_annuler', {'id': event.id})}}">Annuler</a>
			{% endif %}

		</div>
	</section>
{% endblock %}
