{% extends 'base.html.twig' %}

{% block title %}Gérer les Villes{% endblock %}

{% block body %}

    <div class="flex mb-4 my-4">

        <div class="w-3/4 p-4 bg-white border rounded shadow">
            <p class="text-xl my-4">Filtrer les villes</p>


                <div class="w-full p-4 bg-white border rounded shadow">
                    <div id="table-container" class="overflow-y-auto md:max-h-[35rem] ">
                        <table class="min-w-full">

                            <thead>
                            <tr class="sticky top-0 w-full bg-gray-400 z-50">
                                <th class="border px-4 py-2">Ville</th>
                                <th class="border px-4 py-2">Code postal</th>
                                <th class="border px-4 py-2">Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for city in city %}
                                <tr>
                                    <td class="border px-4 py-2">{{ city.name }}</td>
                                    <td class="border px-4 py-2">{{ city.postalcode }}</td>
                                    <td class="border px-4 py-2">

                                        <form method="post" action="{{ path('app_delete', {'id': city.id}) }}" >
                                            <button type="submit" class="bg-gray-700 border-4 border-indigo-200 border-l-indigo-500 border-r-indigo-500 text-white rounded-md px-4 py-3 text-sm font-medium hover:bg-gray-600"> Supprimer</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            <form method="post">
                                {{ form_start(form) }}
                                    <td class="border px-4 py-2">{{ form_row(form.name, {
                                            'label': false,
                                            'attr': {
                                                'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',
                                                'placeholder': 'Nom de la ville'
                                            }
                                        }) }}</td>
                                    <td class="border px-4 py-2">{{ form_row(form.postalCode, {
                                            'label': false,
                                            'attr': {
                                                'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',
                                                'placeholder': 'Code postal'
                                            }
                                        }) }}</td>
                                    <td class="border px-4 py-2"> <button type="submit" class="bg-gray-700 border-4 border-indigo-200 border-l-indigo-500 border-r-indigo-500 text-white rounded-md px-4 py-3 text-sm font-medium hover:bg-gray-600"> Ajouté</button></td>
                                {{ form_end(form) }}
                            </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
