{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block body %}
<section class="w-full flex flex-col items-start mt-10">
    <h1 class="text-2xl font-bold mb-4 text-center">Panneau d'administration : gérer les utilisateurs</h1>
    <a href="{{path('app_register')}}" class="hover:underline underline-offset-4 decoration-2 decoration-indigo-500 mb-2">Ajouter un utilisateur</a>
    <div class="w-full overflow-y-auto md:max-h-[40rem]">
        <table class="w-full break-words border-4 border-t-indigo-200 border-x-indigo-500 shadow">
            <thead class=" top-0  sticky bg-gray-700 text-white">
                <th class="px-4 py-2">Prénom</th>
                <th class="px-4 py-2">Nom</th>
                <th class="px-4 py-2">Télphone</th>
                <th class="px-4 py-2">Email</th>
                <th class="px-4 py-2">Pseudo</th>
                <th class="px-4 py-2">Status du compte</th>
                <th class="px-4 py-2">Action</th>
            </thead>

            <tbody>
            {% for users in users %}
                <tr>
                    <td class="border border-indigo-200 px-4 py-2">{{ users.name }}</td>
                    <td class="border border-indigo-200 px-4 py-2">{{ users.lastname }}</td>
                    <td class="border border-indigo-200 px-4 py-2">{{ users.phone }}</td>
                    <td class="border border-indigo-200 px-4 py-2">{{ users.email }}</td>
                    <td class="border border-indigo-200 px-4 py-2">{{ users.pseudo }}</td>
                    <td class="border border-indigo-200 px-4 py-2">
                        {% if users.isActive %}
                            Actif
                        {% else %}
                            Inactif
                        {% endif %}
                    </td>
                    <td class="border border-indigo-200 px-4 py-2">
                        <a href="{{ path('app_active', {'id': users.id}) }}" class="hover:underline underline-offset-4 decoration-2 hover:text-orange-500 decoration-orange-500">
                            {% if users.isActive %}
                                Désactiver
                            {% else %}
                                Activer
                            {% endif %}
                        </a>
                        <br/>
                        <a href="{{ path('app_delete', {'id': users.id}) }}" class="hover:underline underline-offset-4 decoration-2 hover:text-red-500 decoration-red-500">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
