<nav class="bg-gradient-to-b from-gray-700 to-gray-600 px-10 md:px-20 lg:px-40 text-indigo-200 py-3 flex justify-between align-middle border-b-4 border-b-indigo-200">
    <a href="{{path('events_index')}}" class="relative text-3xl text-indigo-500">Sortir</a>

    <ul class="hidden md:flex justify-between items-center">
        {% if app.user %}
            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('app_ville') }}" class="px-4 py-3 font-medium hover:underline underline-offset-4 decoration-2 decoration-indigo-500">Ville</a></li>
                <li><a href="{{ path('app_site') }}" class="px-4 py-3 font-medium hover:underline underline-offset-4 decoration-2 decoration-indigo-500">Site</a></li>
            {% endif %}
                <li><a href="{{ path('events_index') }}" class="px-4 py-3 font-medium hover:underline underline-offset-4 decoration-2 decoration-indigo-500">Accueil</a></li>
                <li><a href="{{ path('profile_index') }}" class="px-4 py-3 font-medium hover:underline underline-offset-4 decoration-2 decoration-indigo-500">Profil</a></li>
                <li><a href="{{ path('app_logout') }}" class="pl-4 py-3 font-medium hover:underline underline-offset-4 decoration-2 decoration-indigo-500">Se déconnecter</a></li>
        {% endif %}
    </ul>
</nav>
